body {
  font-size: 13px;
  /*font-family: Georgia, "Times New Roman", Times, serif*/
  font-family: Arial, Helvetica, sans-serif; }

/*.container-fluid {
  padding-top: 70px;
}*/
/* CSSTerm.com Simple CSS menu */
.menu_simple ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  background-color: #2460B9; }
  .menu_simple ul li {
    line-height: 200%; }

.menu_simple ul li {
  border-bottom: 1px dotted #fff; }
  .menu_simple ul li a {
    text-decoration: none;
    color: white;
    padding: 5.5px 11px;
    display: block; }

.menu_simple ul li a:visited {
  color: white; }

.menu_simple ul li a:hover, .menu_simple ul li .current {
  color: white;
  background-color: #4FC2E5; }

#featured_slide {
  display: block;
  width: 100%;
  height: 385px;
  padding: 0;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif; }

#featured_slide a {
  color: #FFFFFF;
  background-color: transparent; }

#featured_slide a, #featured_slide ul, #featured_slide img {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none; }

#featured_slide ul {
  margin: 15px 0 0 0; }

#featured_slide h1, #featured_slide h2, #featured_slide h3, #featured_slide h4, #featured_slide h5, #featured_slide h6, #featured_slide p {
  margin: 0 0 4px 0;
  padding: 0;
  line-height: normal;
  font-size: 20px;
  font-weight: normal; }

#featured_slide a {
  color: #059AD8;
  background-color: transparent;
  font-weight: normal; }

#featured_slide p {
  margin: 0;
  font-size: 14px; }

.gallery {
  color: #000;
  padding: 15px; }

.loader {
  background: url("../scripts/galleryviewthemes/loader.gif") center center no-repeat; }

.panel .panel-overlay, .panel .overlay-background {
  height: 60px;
  padding: 10px; }

.panel .overlay-background {
  background: #222; }

.panel .panel-overlay {
  color: white;
  font-size: 0.7em; }

.panel .panel-overlay a {
  color: white;
  text-decoration: underline;
  font-weight: bold; }

.filmstrip {
  margin: 15px 0 0 0;
  padding: 0; }

.filmstrip .gv_thumbnail {
  margin: 0;
  padding: 0; }

.gv_frame {
  float: left;
  cursor: pointer;
  position: relative; }

.gv_frame .gv_thumbnail {
  border: 1px solid #aaa; }

.gv_frame.current .img_wrap {
  border-color: #000; }

.gv_frame img {
  border: none; }

.gv_frame .caption {
  text-align: center;
  color: #888; }

.gv_frame.current .caption {
  color: #000; }

.pointer {
  border-color: #000; }

#featured_slide img {
  width: 100% !important;
  position: relative !important;
  left: 0px !important; }

.gv_panel img {
  height: 280px !important;
  top: 0px !important; }

/* latest news */
.latestnews {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.latestnews i {
  margin-right: 2px; }

.latestnews li {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-bottom: 1px dotted #C7C5C8;
  overflow: hidden; }

.latestnews li.last {
  margin-bottom: 0; }

.latestnews p {
  display: inline; }

.latestnews img {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  border: 1px solid #C7C5C8;
  clear: left; }

.first-row div {
  margin-left: 0px; }

/****************** Marquee **************************/
.container {
  background: #4FC2E5;
  overflow: hidden;
  box-sizing: border-box;
  height: 25px;
  cursor: pointer; }

.marquee-sibling {
  padding: 5px;
  background: #2460B9;
  width: 20%;
  height: 45px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  float: left;
  left: 0;
  z-index: 2000; }

.marquee, *[class^="marquee"] {
  display: inline-block;
  white-space: nowrap;
  position: absolute; }

.marquee {
  margin-left: 25%; }

.marquee-content-items {
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative; }

.marquee-content-items li {
  display: inline-block;
  color: #fff; }

.marquee-content-items li:after {
  content: "|";
  margin: 0 1em; }

.website-banner-content h2 {
  font-size: 25px;
  margin: 10px; }

.top-menu .nav {
  margin-left: 10%; }

.nav {
  border-bottom: 1px solid #c32626; }
  .nav .active {
    background-color: #c32626 !important;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 5px #888888;
    line-height: 40px; }
    .nav .active a {
      background-color: transparent !important;
      color: #fff !important;
      border-color: transparent !important; }

/*.navbar-movable {
  top: 110px;
}*/
.navbar {
  margin-bottom: 5px; }

.navbar-default {
  background-color: #E8000D; }
  .navbar-default i {
    margin-right: 10px; }
  .navbar-default .navbar-nav > li {
    border-left: 1px solid #FF0714; }
    .navbar-default .navbar-nav > li a {
      color: #fff !important;
      font-size: 15px; }
    .navbar-default .navbar-nav > li a:focus, .navbar-default .navbar-nav > li a:hover {
      background-color: #FC0A0A;
      color: #333; }

.header {
  overflow: hidden; }
  .header div {
    float: left; }

.header-mislogin {
  background: url('../images/demo/mouse.png') no-repeat;
  height: 80px;
  text-align: center; }

.header-moving-flag img {
  height: 80px; }

/*=========================
Icons
================= */
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoRss {
  background-color: #F56505; }

.social-network a.icoFacebook {
  background-color: #3B5998; }

.social-network a.icoTwitter {
  background-color: #33ccff; }

.social-network a.icoGoogle {
  background-color: #BD3518; }

.social-network a.icoVimeo {
  background-color: #0590B8; }

.social-network a.icoLinkedin {
  background-color: #007bb7; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff; }

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.panel-primary {
  border: none; }

hr {
  border-top: 3px double green !important; }

.hr-with-border {
  background-color: #c32626;
  box-shadow: 2px 2px 5px #888888;
  color: #fff;
  line-height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0px;
  text-align: center; }

.welcome-message h3 {
  color: #2460B9;
  font-weight: bold;
  border-bottom: 1px solid #E8000D;
  margin-top: 0px; }

/*img {
  max-width: 100%;
}*/
a {
  transition: all 150ms ease; }

a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE7 */
  opacity: 0.6;
  text-decoration: none; }

.thumbnails li > .fff .caption {
  background: #fff !important;
  padding: 10px; }

/* Page Header */
.page-header {
  background: #f9f9f9;
  margin: -30px -40px 40px;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
  color: #999;
  text-transform: uppercase; }

.page-header h3 {
  line-height: 0.88rem;
  color: #000; }

/* Thumbnail Box */
.caption h4 {
  color: #444; }

.caption p {
  color: #999; }

/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%; }

.carousel-control {
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
  display: none; }

/* Mobile Only */
@media (max-width: 767px) {
  .page-header, .control-box {
    text-align: center; } }

@media (max-width: 479px) {
  .caption {
    word-break: break-all; } }

li {
  list-style-type: none; }

.block-header {
  background-color: #2c6220;
  border-radius: 5px;
  color: #fff; }
  .block-header h4 {
    float: left; }
  .block-header nav {
    float: right; }
    .block-header nav ul {
      margin: 0px; }

.news-tabs .panel-body ul {
  padding-left: 0px !important; }
  .news-tabs .panel-body ul li {
    border-bottom: 1px dotted #2C6220;
    padding: 10px; }
.news-tabs .nav-tabs ul li a {
  font-size: 13px;
  font-weight: bold; }

.thumbnail {
  margin-bottom: 0px; }

.thumbnails {
  overflow: hidden;
  padding: 0px !important; }
  .thumbnails caption {
    font-size: 11px;
    padding: 0px; }

footer .address-block i {
  margin-right: 10px;
  color: #2460B9; }
footer .footer-thumbnail {
  margin: 5px;
  float: left; }
  footer .footer-thumbnail img {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff; }
footer .footer-links li {
  padding: 10px;
  border-bottom: 1px dashed #2C6220; }
  footer .footer-links li a {
    color: #2C6220; }
    footer .footer-links li a i {
      margin-right: 15px; }
footer h4 {
  border-bottom: 1px solid #2C6220;
  color: #2C6220;
  font-weight: bold; }

.copyright {
  background-color: #E8000D;
  color: #fff;
  padding: 10px; }
  .copyright p {
    float: left; }
  .copyright ul {
    float: right; }
    .copyright ul li a {
      color: #fff; }

.row {
  margin: 0px; }

.form-group {
  overflow: hidden;
  margin-bottom: 10px !important; }
  .form-group input {
    float: left; }
  .form-group ::-webkit-input-placeholder {
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center; }
  .form-group :-moz-placeholder {
    /* older Firefox*/
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center; }
  .form-group ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center; }
  .form-group :-ms-input-placeholder {
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center; }

.panel .panel-heading {
  font-size: 12px; }
.panel i {
  font-size: 20px;
  margin-right: 15px; }

.btn.btn-default {
  float: right; }

footer {
  background-color: #DFF0D8; }

.row.first-row, .row.second-row {
  width: 90%;
  margin: auto; }

.pager li > a, .pager li > span {
  border-radius: 5px;
  margin-top: 5px; }

.staff-details img {
  width: 80px;
  height: 80px; }

.carousel-control {
  visibility: hidden; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  border: 1px dotted #2460B9;
  padding: 3px;
  border-radius: 5px; }

.footer-links a {
  font-size: 15px; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 2px; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px; }

.container-no-default-margin {
  margin: 0px;
  padding: 0px; }

.successstories-slide .thumbnail {
  height: 189px;
  margin-top: 10px; }
  .successstories-slide .thumbnail img {
    width: 220px;
    height: 107px; }

.h4-without-margin {
  margin: 0px; }

.h3-without-margin {
  margin: 0px;
  font-size: 18px; }

.visitors-block {
  margin-top: 20px; }
  .visitors-block .label {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    text-align: left; }
  .visitors-block .visitors-number {
    padding: 10px;
    background-color: #337AB7;
    border-radius: 5px;
    text-align: left;
    color: #fff; }

.contact-block i {
  margin-top: 5px; }

.cartoon-header {
  border-bottom: 1px solid #337AB7;
  margin-bottom: 10px; }

.single-article-page h3 {
  border-bottom: 1px double #2460B9; }

.article-list-page h3 {
  border-bottom: 1px double #2460B9; }

.page-container {
  min-height: 500px; }

.news-excerpt {
  display: block; }

.date-block {
  font-size: 11px; }

.first-menu {
  border-left: 0px !important; }


/*# sourceMappingURL=app.css.map */