body {
  font-size: 13px;
  /*font-family: Georgia, "Times New Roman", Times, serif*/
  font-family: Arial, Helvetica, sans-serif
}

/*.container-fluid {
  padding-top: 70px;
}*/

/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  background-color: #2460B9;
  li {
    line-height: 200%;
  }
}

.menu_simple ul li {
  border-bottom: 1px dotted #fff;
  a {
    text-decoration: none;
    color: white;
    padding: 5.5px 11px;
    display: block;
  }
}

.menu_simple ul li a:visited {
  color: white;
}

.menu_simple ul li a:hover, .menu_simple ul li .current {
  color: white;
  background-color: #4FC2E5;
}

#featured_slide {
  display: block;
  width: 100%;
  height: 385px;
  padding: 0;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#featured_slide a {
  color: #FFFFFF;
  background-color: transparent;
}

#featured_slide a, #featured_slide ul, #featured_slide img {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

#featured_slide ul {
  margin: 15px 0 0 0;
}

#featured_slide h1, #featured_slide h2, #featured_slide h3, #featured_slide h4, #featured_slide h5, #featured_slide h6, #featured_slide p {
  margin: 0 0 4px 0;
  padding: 0;
  line-height: normal;
  font-size: 20px;
  font-weight: normal;
}

#featured_slide a {
  color: #059AD8;
  background-color: transparent;
  font-weight: normal;
}

#featured_slide p {
  margin: 0;
  font-size: 14px;
}

.gallery {
  color: #000;
  padding: 15px;
}

.loader {
  background: url("../scripts/galleryviewthemes/loader.gif") center center no-repeat;
}

.panel .panel-overlay, .panel .overlay-background {
  height: 60px;
  padding: 10px;
}

.panel .overlay-background {
  background: #222;
}

.panel .panel-overlay {
  color: white;
  font-size: 0.7em;
}

.panel .panel-overlay a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.filmstrip {
  margin: 15px 0 0 0;
  padding: 0;
}

.filmstrip .gv_thumbnail {
  margin: 0;
  padding: 0;
}

.gv_frame {
  float: left;
  cursor: pointer;
  position: relative;
}

.gv_frame .gv_thumbnail {
  border: 1px solid #aaa;
}

.gv_frame.current .img_wrap {
  border-color: #000;
}

.gv_frame img {
  border: none;
}

.gv_frame .caption {
  text-align: center;
  color: #888;
}

.gv_frame.current .caption {
  color: #000;
}

.pointer {
  border-color: #000;
}

#featured_slide img {
  width: 100% !important;
  position: relative !important;
  left: 0px !important
}

.gv_panel img {
  height: 280px !important;
  top: 0px !important
}

/* latest news */

.latestnews {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.latestnews i{
  margin-right:2px;
}


.latestnews li {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-bottom: 1px dotted #C7C5C8;
  overflow: hidden;
}

.latestnews li.last {
  margin-bottom: 0;
}

.latestnews p {
  display: inline;
}

.latestnews img {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  border: 1px solid #C7C5C8;
  clear: left;
}

.first-row {
  div {
    margin-left: 0px;
  }
}

/****************** Marquee **************************/

.container {
  background: #4FC2E5;
  overflow: hidden;
  box-sizing: border-box;
  height: 25px;
  cursor: pointer;
}

.marquee-sibling {
  padding: 5px;
  background: #2460B9;
  width: 20%;
  height: 45px;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  float: left;
  left: 0;
  z-index: 2000;
}

.marquee,
*[class^="marquee"] {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
}

.marquee {
  margin-left: 25%;
}

.marquee-content-items {
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.marquee-content-items li {
  display: inline-block;
  color: #fff;
}

.marquee-content-items li:after {
  content: "|";
  margin: 0 1em;
}

.website-banner-content {

  h2 {
    font-size: 25px;
    margin: 10px;
  }
}
.top-menu .nav{
  margin-left: 10%;
}
.nav {

  border-bottom: 1px solid #c32626;
  .active {
    background-color: #c32626 !important;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 5px #888888;
    line-height: 40px;
    a {
      background-color: transparent !important;
      color: #fff !important;
      border-color: transparent !important;
    }
  }
}

/*.navbar-movable {
  top: 110px;
}*/
.navbar {

  margin-bottom: 5px;
}

.navbar-default {
  i {
    margin-right: 10px;
  }
  background-color: #E8000D;
  .navbar-nav > li {
    border-left: 1px solid #FF0714;
    a {
      color: #fff !important;
      font-size: 15px;
    }
    a:focus, a:hover {
      background-color: #FC0A0A;
      color: #333;
    }
  }
}

.header {
  overflow: hidden;
  div {
    float: left;
  }
}

.header-mislogin {
  background: url('../images/demo/mouse.png') no-repeat;
  height: 80px;
  text-align: center;
}

.header-moving-flag {
  img {
    height: 80px;
  }
}

/*=========================
Icons
================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss {
  background-color: #F56505;
}

.social-network a.icoFacebook {
  background-color: #3B5998;
}

.social-network a.icoTwitter {
  background-color: #33ccff;
}

.social-network a.icoGoogle {
  background-color: #BD3518;
}

.social-network a.icoVimeo {
  background-color: #0590B8;
}

.social-network a.icoLinkedin {
  background-color: #007bb7;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.panel-primary {
  border: none;
}

hr {
  border-top: 3px double green !important;
}

.hr-with-border {
  background-color: #c32626;
  box-shadow: 2px 2px 5px #888888;
  color: #fff;
  line-height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0px;
  text-align: center;
}

.welcome-message {
  h3 {
    color: #2460B9;
    font-weight: bold;
    border-bottom: 1px solid #E8000D;
    margin-top: 0px;
  }
}

/*img {
  max-width: 100%;
}*/

a {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE7 */
  opacity: 0.6;
  text-decoration: none;
}

.thumbnails li > .fff .caption {
  background: #fff !important;
  padding: 10px
}

/* Page Header */
.page-header {
  background: #f9f9f9;
  margin: -30px -40px 40px;
  padding: 20px 40px;
  border-top: 4px solid #ccc;
  color: #999;
  text-transform: uppercase;
}

.page-header h3 {
  line-height: 0.88rem;
  color: #000;
}

/* Thumbnail Box */
.caption h4 {

  color: #444;
}

.caption p {

  color: #999;
}

.btn.btn-mini {

}

/* Carousel Control */

.control-box {
  text-align: right;
  width: 100%;
}

.carousel-control {
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
  display: none;
}

/* Mobile Only */
@media (max-width: 767px) {
  .page-header, .control-box {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .caption {
    word-break: break-all;
  }
}

li {
  list-style-type: none;
}

.block-header {
  background-color: #2c6220;
  border-radius: 5px;
  color: #fff;
  h4 {
    float: left;
  }
  nav {
    float: right;
    ul {
      margin: 0px;
    }

  }
}

.news-tabs {
  .panel-body {
    ul {
      padding-left: 0px !important;
      li {
        border-bottom: 1px dotted #2C6220;
        padding: 10px;

      }
    }

  }
  .nav-tabs {
    ul {
      li {
        a {
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }
}

.thumbnail {
  margin-bottom: 0px;
}

.thumbnails {
  overflow: hidden;
  padding: 0px !important;
  caption {
    font-size: 11px;
    padding: 0px;
  }
}

footer {
  .address-block {
    i {
      margin-right: 10px;
      color: #2460B9;
    }
  }
  .footer-thumbnail {
    margin: 5px;
    img{
      width: 80px;
      height: 80px;
      padding: 5px;
      border-radius: 5px;
      background-color: #fff;
    }
    float: left;
  }
  .footer-links {
    li {
      padding: 10px;
      border-bottom: 1px dashed #2C6220;
      a {
        color: #2C6220;
        i {
          margin-right: 15px;
        }
      }
    }
  }
  h4 {
    border-bottom: 1px solid #2C6220;
    color: #2C6220;
    font-weight: bold;
  }
}

.copyright {
  background-color: #E8000D;
  color: #fff;
  padding: 10px;
  p {
    float: left
  }
  ul {
    float: right;
    li {
      a {
        color: #fff
      }
    }
  }
}

.row {
  margin: 0px;
}

.form-group {
  overflow: hidden;
  input {
    float: left;
  }
  margin-bottom: 10px !important;

  ::-webkit-input-placeholder {
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  }
  :-moz-placeholder {
    /* older Firefox*/
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  }
  :-ms-input-placeholder {
    color: #d0cdfa;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  }

}

.panel {
  .panel-heading {
    font-size: 12px;
  }
  i {
    font-size: 20px;
    margin-right: 15px;
  }

}

.btn.btn-default {
  float: right;
}

footer {
  background-color: #DFF0D8;
}

.row.first-row, .row.second-row {
  width: 90%;
  margin: auto;
}

.pager li > a, .pager li > span {
  border-radius: 5px;

  margin-top: 5px;
}

.staff-details {
  img {
    width: 80px;
    height: 80px;
  }
}

.carousel-control {
  visibility: hidden;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  border: 1px dotted #2460B9;
  padding: 3px;
  border-radius: 5px;
}

.footer-links a {
  font-size: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 2px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.container-no-default-margin {
  margin: 0px;
  padding: 0px;
}

.successstories-slide {
  .thumbnail {
    img {
      width: 220px;
      height: 107px;
    }
    height: 189px;
    margin-top: 10px;
  }

}
.h4-without-margin{
  margin: 0px;
}
.h3-without-margin{
  margin: 0px;
  font-size:18px;
}
.visitors-block{
  margin-top: 20px;
  .label{
    padding: 10px;
    font-size:14px;
    font-weight: bold;
    color: inherit;
    text-align: left;
  }
  .visitors-number{
    padding: 10px;
    background-color: #337AB7;
    border-radius: 5px;
    text-align: left;
    color: #fff;
  }
}
.contact-block{

  i{
    margin-top: 5px;
  }
}
.cartoon-header{
  border-bottom: 1px solid #337AB7;
  margin-bottom: 10px;
}
.single-article-page h3{
  border-bottom: 1px double #2460B9;
}
.article-list-page h3{
  border-bottom: 1px double #2460B9;
}
.page-container{

  min-height: 500px;
}
.news-excerpt{
  display: block;
}
.date-block{
  font-size:11px;
}
.first-menu{
  border-left: 0px !important;
}





//colors
$black: #000;
$color_monza_approx: #c6050d;
$white: #fff;
$color_froly_approx: #ea7979;
$color_congress_blue_approx: #044099;
$color_hawkes_blue_approx: #d1e3fe;
$color_rosewood_approx: #630206;
$color_sangria_approx: #94040a;
$color_vida_loca_approx: #439d26;
$color_perano_approx: #9fc5fd;
$color_celeste_approx: #cccccc;
$black_70: rgba(0, 0, 0, 0.7);
$white_80: rgba(255, 255, 255, 0.8);
$color_alabaster_approx: #f9f9f9;
$color_cararra_approx: #ebebeb;
$color_gray_nurse_approx: #e8e8e8;
$color_silver_approx: #bfbdbd;
$color_gravel_approx: #4b4b4b;
$color_tangaroa_approx: #001c41;
$color_azure_approx: #3b5998;
$color_picton_blue_approx: #33ccff;
$color_thunderbird_approx: #bd3518;
$color_deep_cerulean_approx: #007bb7;

//fonts
$font_0: Open Sans;
$font_1: Serif;

//data-uris
$data_uri_0: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWUzZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+";
$data_uri_1: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWUzZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+";
$data_uri_2: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWUzZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+";

//urls
$url_0: url(../images/header-bck.png);
$url_1: url(../images/login.png);
$url_2: url(../images/menu-bck.png);
$url_3: url(../images/shadow.png);
$url_4: url(../images/news-arrow.png);
$url_5: url(../images/bullet.png);
$url_6: url(../images/section-header-bck.png);

//@extend-elements
//original selectors
//*, ul, ol, p, li
%extend_1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_2 {
	font-family: $font_0, $font_1;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

//original selectors
//#side-menu ul li.active > a, #side-menu ul li.current-active > a
%extend_3 {
	border-left: solid 5px $color_perano_approx;
	padding-left: 15px;
	background: url($data_uri_0);
	background: linear-gradient(to right, rgba(125, 185, 232, 0) 0, $color_hawkes_blue_approx 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#d1e3fe', GradientType=1);
	font-weight: bold;
}

//original selectors
//.red-widget .header, .cartoon-widget .header, .search-widget .header
%extend_4 {
	background: $url_6 repeat-x;
	font-size: 16px;
	font-family: $font_0, $font_1;
	font-weight: 300;
	color: $white;
	padding: 10px 15px;
}

//original selectors
//.red-widget .section-content ul li a, .cartoon-widget .section-content ul li a, .search-widget .section-content ul li a
%extend_5 {
	font-size: 14px;
	color: $color_congress_blue_approx;
	padding: 6px 0;
	display: block;
	max-height: 39px;
	line-height: 29px;
	border-bottom: dotted 1px $color_hawkes_blue_approx;
	font-family: $font_0, $font_1;
	font-weight: 300;
	overflow: hidden;
}

//original selectors
//#request-status input, #request-status select
%extend_6 {
	padding: 7px 15px;
	width: 200px;
	border: none;
	float: left;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
}

//original selectors
//.search-widget input, .search-widget select
%extend_7 {
	float: none !important;
	margin-bottom: 5px;
	width: 100% !important;
	border: solid 1px $color_silver_approx !important;
}


.gly-spin {
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	0% {
	}
	100% {
	}
}
@-webkit-keyframes spin {
	0% {
	}
	100% {
	}
}
@-o-keyframes spin {
	0% {
	}
	100% {
	}
}
@keyframes spin {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(0deg);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(359deg);
	}
}
.gly-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(90deg);
}
.gly-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(180deg);
}
.gly-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(270deg);
}
.gly-flip-horizontal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(-1, 1);
}
.gly-flip-vertical {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1, -1);
}
.pr0 {
	padding-right: 0;
}
.pl0 {
	padding-left: 0;
}
* {
	@extend %extend_1;
}
ul {
	@extend %extend_1;
	&.social-network {
		margin-bottom: 20px;
		overflow: hidden;
		height: 100%;
		text-align: center;
		li {
			display: inline-block;
			a {
				display: inline-block;
				width: 60px;
				height: 60px;
				text-align: center;
				font-size: 20px;
				background: $color_azure_approx;
				color: $white;
				margin-right: 15px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 300ms;
				i {
					line-height: 60px;
				}
				&:hover {
					opacity: 0.5;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 300ms;
				}
			}
			.icoTwitter {
				background: $color_picton_blue_approx;
			}
			.icoGoogle {
				background: $color_thunderbird_approx;
			}
			.icoLinkedin {
				background: $color_deep_cerulean_approx;
			}
		}
	}
}
ol {
	@extend %extend_1;
}
p {
	@extend %extend_1;
}
li {
	@extend %extend_1;
}
h1 {
	@extend %extend_2;
}
h2 {
	@extend %extend_2;
}
h3 {
	@extend %extend_2;
}
h4 {
	@extend %extend_2;
}
h5 {
	@extend %extend_2;
}
h6 {
	@extend %extend_2;
}
.blue-grd {
	background: url($data_uri_0);
	background: linear-gradient(to right, rgba(125, 185, 232, 0) 0, $color_hawkes_blue_approx 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#d1e3fe', GradientType=1);
}
a {
	text-decoration: none;
	outline: none !important;
	&:hover {
		text-decoration: none;
		outline: none !important;
	}
}
.alpha {
	padding-right: 0;
}
.omega {
	padding-left: 0;
}
.opensans {
	font-family: $font_0, $font_1;
	font-weight: 300;
}
header {
	background: $url_0 repeat-x;
	padding: 20px 0;
}
#rti-login {
	background: $url_1 no-repeat;
	width: 129px;
	height: 60px;
	display: block;
	text-indent: -99999px;
	float: right;
	margin-top: 15px;
}
#main-menu {
	background: $url_2 repeat-x center top;
	li {
		float: left;
		a {
			color: $white;
			font-style: 14px;
			padding: 15px 20px;
			display: block;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: background 1s;
			&:hover {
				background: $color_rosewood_approx;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 300ms;
			}
		}
	}
	.active a {
		background: $color_sangria_approx;
	}
}
#lang-select {
	padding-top: 11px;
	li {
		float: right;
		a {
			font-size: 12px;
			padding: 6px 10px;
		}
	}
	.active a {
		background: $color_congress_blue_approx;
	}
}
#splash {
	background: $color_congress_blue_approx $url_3 repeat-x left top;
	padding: 30px 0;
}
#scroll-news {
	margin-bottom: 20px;
	.news-title {
		background: $color_vida_loca_approx $url_4 no-repeat right center;
		width: 100px;
		float: left;
		padding: 12px 25px 12px 20px;
		font-style: 16px;
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		height: 38px;
	}
	.news-content {
		font-style: 13px;
		width: 1040px;
		float: left;
		background: $white;
		overflow: hidden;
		height: 38px;
		a {
			color: $black;
			&:hover {
				color: $color_monza_approx;
			}
		}
		.TickerNews {
			width: 100%;
		}
		.ti_wrapper {
			width: 100%;
			position: relative;
			overflow: hidden;
			height: 38px;
		}
		.ti_slide {
			position: relative;
			left: 0;
			top: 0;
		}
		.ti_content {
			position: relative;
			float: left;
			margin-top: 9px;
		}
		.ti_news {
			float: left;
		}
	}
}
#side-menu {
	background: $white;
	padding: 9px 0 9px 15px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px 0 0 4px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	ul {
		border-top: dotted 1px $color_hawkes_blue_approx;
		li {
			a {
				font-size: 14px;
				color: $color_congress_blue_approx;
				padding: 6px 0;
				display: block;
				border-bottom: dotted 1px $color_hawkes_blue_approx;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1s;
				font-family: $font_0, $font_1;
				font-weight: 300;
				span {
					font-size: 10px;
					float: right;
					margin: 3px 15px 0 0;
				}
				&:hover {
					border-left: solid 5px $color_perano_approx;
					padding-left: 15px;
					background: url($data_uri_0);
					background: linear-gradient(to right, rgba(125, 185, 232, 0) 0, $color_hawkes_blue_approx 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#d1e3fe', GradientType=1);
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 500ms;
					font-weight: bold;
				}
			}
			ul {
				position: absolute;
				margin-left: 240px;
				z-index: 300;
				background: $white;
				width: 200px;
				padding: 5px 0 5px 10px;
				margin-top: -33px;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 0 2px $color_celeste_approx;
			}
			&.active > a {
				@extend %extend_3;
			}
			&.current-active > a {
				@extend %extend_3;
			}
		}
	}
}
#home-slider {
	position: relative;
	border: solid 1px $white;
	.flex-direction-nav {
		visibility: hidden;
		a {
			position: absolute;
			top: 45%;
			padding: 10px 12px;
			display: inline-block;
			color: $black;
			background: $white_80;
		}
		.flex-prev {
			left: 0;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 10px 10px 0;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
		}
		.flex-next {
			right: 0;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 10px 0 0 10px;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
		}
	}
	.slides li {
		position: relative;
		.caption {
			font-size: 14px;
			color: $white;
			background: $black_70;
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 10px;
			font-family: $font_0, $font_1;
			font-weight: 300;
		}
	}
	&:hover .flex-direction-nav {
		visibility: visible;
	}
}
.important-news {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 5px 5px 0;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	.header {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0 5px 0 0;
		//Instead of the line below you could use @include background-clip($clip)
		background-clip: padding-box;
	}
	li {
		background: $url_5 no-repeat left 14px;
		padding-left: 16px;
	}
}
.red-widget {
	background: $white;
	.header {
		@extend %extend_4;
	}
	.section-content {
		padding: 3px 15px;
		ul li {
			a {
				@extend %extend_5;
				&:hover {
					color: $color_monza_approx;
				}
			}
			&:last-child a {
				border: none;
			}
		}
	}
}
.cartoon-widget {
	background: $white;
	.header {
		@extend %extend_4;
	}
	.section-content {
		padding: 3px 15px;
		border: solid 1px $color_celeste_approx;
		padding: 15px;
		text-align: center;
		ul li {
			a {
				@extend %extend_5;
				&:hover {
					color: $color_monza_approx;
				}
			}
			&:last-child a {
				border: none;
			}
		}
	}
}
.search-widget {
	background: $white;
	background: $color_gray_nurse_approx;
	padding: 0;
	.header {
		@extend %extend_4;
	}
	.section-content {
		padding: 3px 15px;
		padding: 10px 15px;
		ul li {
			a {
				@extend %extend_5;
				&:hover {
					color: $color_monza_approx;
				}
			}
			&:last-child a {
				border: none;
			}
		}
	}
	input {
		@extend %extend_7;
	}
	select {
		@extend %extend_7;
	}
	#submit-search {
		background: $color_gravel_approx;
		border: none;
		font-size: 15px;
		width: 100%;
		color: $white;
		padding: 4px 0;
		text-align: center;
		margin-top: 7px;
	}
}
#home-main {
	padding: 25px 0;
}
#home-about {
	margin-bottom: 40px;
	h1 {
		margin-bottom: 10px;
		color: $color_monza_approx;
	}
	.about-text {
		font-size: 13px;
	}
}
#home-tab {
	margin-bottom: 40px;
	.nav {
		background: $color_celeste_approx;
		overflow: hidden;
		height: 100%;
		border: none;
		a {
			color: $black;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
			margin-right: 0;
		}
		.active a {
			background: $color_monza_approx;
			color: $white;
			border-color: $color_monza_approx;
			border-bottom: none;
			border-right: none;
			font-weight: bold;
		}
	}
	.nav-tabs {
		border-color: $color_monza_approx;
		a:hover {
			color: $black;
		}
	}
	.tab-content {
		border: solid 1px $color_celeste_approx;
		padding: 5px 15px;
		border-top: none;
		background: $color_alabaster_approx;
		ul li {
			border-bottom: dashed 1px $color_celeste_approx;
			background: $url_5 no-repeat left 14px;
			padding-left: 16px;
			a {
				color: $color_congress_blue_approx;
				padding: 10px 0;
				display: block;
				&:hover {
					color: $color_monza_approx;
				}
			}
			&:last-child {
				border: none;
			}
		}
	}
}
#home-success-stories {
	.success-story-slider {
		border: solid 1px $color_celeste_approx;
		border-top: none;
		padding: 15px;
		position: relative;
		.flex-direction-nav {
			visibility: hidden;
			a {
				position: absolute;
				top: 45%;
				padding: 10px 12px;
				display: inline-block;
				color: $black;
				background: $white_80;
			}
			.flex-prev {
				left: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0 10px 10px 0;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
			}
			.flex-next {
				right: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 10px 0 0 10px;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
			}
		}
		.slides li {
			max-width: 2850px;
			margin-right: 15px;
			.caption {
				color: $black;
				font-size: 14px;
				margin-top: 5px;
			}
		}
	}
	&:hover .flex-direction-nav {
		visibility: visible;
	}
}
#page-single {
	padding-top: 20px;
	h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	article {
		font-family: $font_0, $font_1;
		font-weight: 300;
		font-size: 15px;
		line-height: 25px;
		p {
			margin-bottom: 10px;
		}
		a {
			color: $color_congress_blue_approx;
		}
		ul {
			margin-left: 15px;
			li {
				list-style-position: outside;
			}
		}
		ol {
			margin-left: 15px;
			li {
				list-style-position: outside;
			}
		}
	}
	.page-meta {
		border: solid 1px $color_celeste_approx;
		border-left: 0;
		border-right: 0;
		margin-bottom: 20px;
		ul li {
			display: inline-block;
			font-size: 12px;
			padding: 5px;
		}
	}
	#scroll-news .news-content {
		border: solid 1px $color_cararra_approx;
		border-left: none;
	}
}
.sidebar {
	section {
		margin-bottom: 20px;
	}
	.red-widget {
		.header {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 5px 5px 0 0;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
		}
		.section-content {
			padding: 0;
			border: solid 1px $color_celeste_approx;
			border-top: 0;
			a {
				color: $black;
				&:hover {
					color: $color_monza_approx;
				}
			}
			i {
				width: 15px;
			}
			.get-air {
				margin-top: 3px;
			}
			.small {
				font-size: 12px;
			}
		}
	}
	&.page {
		#side-menu {
			padding-left: 0;
		}
		.important-news {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
			.header {
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				//Instead of the line below you could use @include background-clip($clip)
				background-clip: padding-box;
			}
			.section-content {
				padding: 10px 10px 10px 15px;
				li {
					background-position: left 12px;
				}
				a {
					max-height: 100px !important;
					line-height: 22px;
				}
			}
		}
	}
	dl.with-cover {
		overflow: hidden;
		height: 100%;
		padding: 10px;
		margin-bottom: 0;
		border-bottom: solid 1px $color_celeste_approx;
		dt {
			width: 60px;
			float: left;
			text-align: center;
			img {
				width: 60px;
				height: 70px;
			}
		}
		dd {
			width: 180px;
			float: left;
			padding-left: 10px;
			h5 {
				font-weight: 700;
				font-size: 14px;
				margin-bottom: 3px;
			}
		}
	}
}
.blue-widget {
	background: $color_congress_blue_approx;
	padding: 15px;
	.header {
		color: $white;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.section-content {
		overflow: hidden;
		height: 100%;
	}
}
#request-status {
	input {
		@extend %extend_6;
	}
	select {
		@extend %extend_6;
	}
	#check-status {
		background: $color_vida_loca_approx;
		border: none;
		font-size: 15px;
		float: left;
		color: $white;
		padding: 8px 8px 5px;
	}
}
footer {
	background: $color_tangaroa_approx;
	padding: 40px 0;
	h3 {
		font-size: 25px;
		color: $white;
		margin-bottom: 10px;
		border-bottom: solid 1px $white;
		padding-bottom: 10px;
		margin-bottom: 15px;
		text-align: center;
	}
	.text {
		font-size: 14px;
		color: $white;
		p {
			line-height: 25px;
		}
	}
	.visitors {
		font-weight: bold;
		text-align: center;
		span {
			background: $color_congress_blue_approx;
			padding: 4px 10px;
			display: inline-block;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 4px;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
			color: $white;
		}
	}
	.contact .text strong {
		font-size: 17px;
	}
}
.footer-links {
	background: $color_vida_loca_approx;
	padding: 10px;
	li {
		float: left;
		a {
			display: block;
			padding: 5px;
			color: $white;
			font-size: 15px;
			margin-right: 15px;
			i {
				width: 25px;
			}
		}
	}
}
#copyright {
	background: $color_congress_blue_approx;
	color: $white;
	font-size: 13px;
	padding: 12px 0;
	a {
		color: $white;
	}
	.last-inline {
		text-align: right;
		li {
			display: inline-block;
			a {
				padding: 0 5px;
			}
		}
	}
}
@media(max-width: 1199px) {
	#request-status {
		input {
			width: 150px;
		}
		select {
			width: 150px;
		}
	}
	#scroll-news .news-content {
		width: 840px;
	}
	#home-slider .flex-direction-nav {
		visibility: visible !important;
		position: absolute;
		left: 44%;
		z-index: 3000;
		text-align: center;
		margin-top: 10px;
		li {
			display: inline-block;
		}
		a {
			position: relative;
			padding: 10px 12px;
			display: inline-block;
			color: $black;
		}
		.flex-prev {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 5px 0 0 5px;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
		}
		.flex-next {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 5px 5px 0;
			//Instead of the line below you could use @include background-clip($clip)
			background-clip: padding-box;
		}
	}
	.sidebar dl.with-cover {
		text-align: center;
		dt {
			width: 100%;
			text-align: center;
			img {
				width: 70px;
				height: auto;
			}
		}
		dd {
			padding: 10px 0 0;
			width: 100%;
		}
	}
	.nav > li > a {
		padding: 10px 7px;
	}
	ul.social-network li a {
		margin-right: 9px;
	}
}
@media(max-width: 991px) {
	#lang-select {
		padding-top: 2px;
	}
	#side-menu {
		margin-bottom: 15px;
		li ul {
			right: 15px;
			width: 200px;
		}
	}
	.pl0 {
		padding-left: 15px;
	}
	.pr0 {
		padding-right: 15px;
	}
	#home-slider {
		margin-bottom: 15px;
		.flex-direction-nav {
			left: 47%;
		}
		.slides li img {
			width: 100%;
		}
	}
	.important-news {
		margin-top: 60px;
	}
	.secretary {
		width: 33%;
		float: left;
		margin-right: 43px;
		dl {
			width: 100%;
		}
	}
	.information-officers {
		width: 33%;
		float: left;
		dl {
			width: 100%;
		}
	}
	#main-menu li a {
		padding: 15px 12px;
	}
	#scroll-news .news-content {
		width: 620px;
	}
	dl.with-cover {
		width: 33%;
		float: left;
		dt {
			width: 100%;
			img {
				width: 70px;
			}
		}
	}
	ul.social-network li a {
		width: 50px;
		height: 50px;
		margin-right: 0;
		i {
			line-height: 50px;
		}
	}
}
@media(max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
	.navbar-red {
		background: $color_monza_approx;
		border: none;
		margin-bottom: 0;
	}
	.navbar-inverse {
		.navbar-brand {
			color: $white;
		}
		.navbar-toggle {
			border-color: $color_froly_approx;
			&:hover {
				background-color: $color_congress_blue_approx;
			}
			&:focus {
				background-color: $color_congress_blue_approx;
			}
		}
		.navbar-nav {
			> {
				li > a {
					color: $white;
				}
				.active > a {
					background-color: $color_congress_blue_approx;
					&:hover {
						background-color: $color_congress_blue_approx;
					}
					&:focus {
						background-color: $color_congress_blue_approx;
					}
				}
				.open > a {
					background-color: $color_congress_blue_approx;
					&:hover {
						background-color: $color_congress_blue_approx;
					}
					&:focus {
						background-color: $color_congress_blue_approx;
					}
				}
			}
			.open .dropdown-menu {
				.divider {
					background-color: $white;
				}
				> li > a {
					color: $white;
				}
			}
		}
		.navbar-collapse {
			border-color: $white;
		}
		.navbar-form {
			border-color: $white;
		}
	}
	.important-news {
		margin-top: 10px;
	}
	.secretary {
		width: 100%;
	}
	.information-officers {
		width: 100%;
	}
	#request-status {
		input {
			width: 207px;
		}
		select {
			width: 207px;
		}
	}
	footer {
		.contact {
			margin-bottom: 20px;
			.text strong {
				font-size: 16px;
			}
		}
		.gallery {
			margin-bottom: 20px;
		}
	}
	#home-slider .flex-direction-nav {
		display: none;
	}
	#home-about h1 {
		background: $url_6 repeat-x;
		font-size: 16px;
		font-family: $font_0, $font_1;
		font-weight: 300;
		color: $white;
		padding: 10px 15px;
	}
	.nav > li {
		width: 100%;
	}
	.home-right.sidebar {
		margin-top: 20px;
	}
	#copyright .last-inline {
		text-align: left;
		margin-top: 15px;
		padding-left: 0;
		li:first-child a {
			padding-left: 0;
		}
	}
}
dl.footer-gallery {
	margin: 0;
	float: left;
	width: 25%;
	dt {
		padding-right: 4px;
		padding-bottom: 4px;
		img {
			border: solid 1px $white;
			padding: 1px;
			height: 60px;
		}
		a:hover {
			opacity: 0.4;
		}
	}
}